name: Create issue

on:
  schedule:
    - cron: "0 0 1 */3 *"
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  build:
    name: Create issue
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: JasonEtco/create-an-issue@1b14a70e4d8dc185e5cc76d3bec9eab20257b2c5 # v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
